{% extends 'base.html' %}
{% block content %}

<div class="container" style='margin-top: 40px;'>
  <div class="jumbotron jumbotron-fluid account-change-background">
      <h1 class="title-merits archivo-black-font">Edit Medals</h1>
      <div class="container yanone-font" style='font-size:1.5em; padding-bottom:10px;'>
        <form method="post" style='background-color: #3636A0;color: #E69A8DFF; margin: 10px 0px 20px 0px;padding:20px 0px 20px 20px;text-align:center;'>
          {% csrf_token %}
          {{ form.as_p }}
          <hr>
          <button type="submit" class='btn btn-primary custom-btn btn-lg odibee'>Update</button>
          <a class="btn btn-primary custom-btn btn-lg odibee" href="{% url 'accounts:account_list' %}">Go Back</a>
        </form>

      </div>
  </div>
</div>
<script>var editor = new MediumEditor('.editable');</script>
{% endblock %}
