{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="jumbotron jumbotron-fluid" style="margin-top: 40px; border: 10px solid #45284d; background-color:#643a71;">
  <div class="container">
    <div class="container firstfont dropdown-color" style='padding:20px; border: 10px solid #45284d'>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        <button type="submit" class='save btn btn-primary btn-lg custom-btn'>Update</button>
      </form>
    </div>

  </div>

</div>
<script>var editor = new MediumEditor('.editable');</script>
{% endblock %}
