{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container" style='margin-top: 40px;'>
  <div class="jumbotron jumbotron-fluid account-tabs" style='border: 1px solid #b3b3ff;'>
    <ul class="nav nav-pills tabs-accounts-background">
      <li class='nav-item tabs-account-info russo-one-font col' style='border-right: 1px solid black;'><a class='nav-link tab-info active' data-toggle="pill" href="#home">Home</a></li>
      <li class='nav-item tabs-account-info russo-one-font col' style='border-right: 1px solid black;'><a class='nav-link tab-info' data-toggle="pill" href="#info">Personal Info</a></li>
      <li class='nav-item tabs-account-info russo-one-font col' style='border-right: 1px solid black;'><a class='nav-link tab-info' data-toggle="pill" href="#merits">Merits</a></li>
      <li class='nav-item tabs-account-info russo-one-font col'><a class='nav-link tab-info' data-toggle="pill" href="#other">Other Stats</a></li>
    </ul>
    <div  class="tab-content">
      <div id='home' class="tab-pane active">
        <div class="account-title russo-one-font"><h1><span class='fas fa-tasks' style='padding-right:15px;'></span>Account Info</h1></div>
        <div class="container" style='border: 1px solid #b3b3ff;'>
          <div class="container" style="display: flex; justify-content: center; margin-top: 10px;">
              <img class="mx-auto d-block img-fluid" style="border: 1px solid #8599ff" src="{% static "images/built.png" %}"></img>
          </div>
          <h3 class='odibee' style='margin-top:10px;background-color: #8599ff;text-align:center;color:#3e52b8;padding-top:5px;padding-bottom:5px;'>Here you can find information about you and the progress you are making! Click on the Tabs to continue!</h3>
          {% if user.is_superuser %}
            <a class="btn btn-primary account-btn yanone-font"  style="display: flex; justify-content: center; margin-top: 15px;" href="{% url 'accounts:account_list' %}"><span class="fas fa-address-card brand-rotate padding-dropdown-navbar"></span>List of Users</a>

          {% endif %}
          <a class="btn btn-primary account-btn yanone-font"  style="display: flex; justify-content: center; margin-top: 10px;margin-bottom: 15px;" href="{% url 'homepage' %}"><span class="fas fa-address-card brand-rotate padding-dropdown-navbar"></span>Back to Index</a>
        </div>

      </div>
      <div id="info" class="tab-pane fade ">
        <div class="account-title russo-one-font"><h1><span class='far fa-id-badge' style='padding-right:15px;'></span>Personal Info</h1></div>
        <div class="container">
          <div class="row">
            <div class="col-12 font-account-info yanone-font">Username: {{ user.username }}</div>
            <div class="col-12 font-account-info yanone-font">Name: {{ user.first_name }} {{ user.last_name }}</div>
            <div class="col-12 font-account-info yanone-font">E-Mail Address: {{ user.email }}</div>
            <div class="col-12 font-account-info yanone-font">Account Creation Date: {{ user.date_joined }}</div>
          </div>
        </div>
        <a class="btn btn-primary account-btn yanone-font"  style="display: flex; justify-content: center; margin-top: 30px;" href="{% url 'homepage' %}"><span class="fas fa-address-card brand-rotate padding-dropdown-navbar"></span>Back to Index</a>
      </div>
      <div id="merits" class="tab-pane fade">
        <div class="account-title russo-one-font"><h1><span class='fas fa-info-circle' style='padding-right:15px;'></span>Merits</h1></div>
        <div class="container">
          <div class="row" style='border:5px solid black;'>
              <div class="col-4 font-account-info yanone-font merits-columns"><span class='fas fa-medal' style='padding-right:15px;'></span>Bronze Medals Earned: <span id='bronze'>0</span></div>
              <div class="col-4 font-account-info yanone-font merits-columns" style='color: white !important;'><span class='fas fa-medal' style='padding-right:15px;'></span>Silver Medals Earned: <span id='silver'>0</span></div>
              <div class="col-4 font-account-info yanone-font merits-columns" style='color: yellow !important;'><span class='fas fa-medal' style='padding-right:15px;'></span>Gold Medals Earned: <span id='gold'>0</span></div>
              <div class="col-6 font-account-info yanone-font merits-columns" style='color: #dedede !important;'><span class='fas fa-medal' style='padding-right:15px;'></span>Platinum Medals Earned: <span id='platinum'>0</span></div>
              <div class="col-6 font-account-info yanone-font merits-columns" style='color: #83f5ff  !important;'><span class='fas fa-medal' style='padding-right:15px;'></span>Diamond Medals Earned: <span id='diamond'>0</span></div>
              <div class="col-6 font-account-info yanone-font merits-columns"><span class="fas fa-trophy" style='padding-right:15px;'></span>Trophies Unlocked: <span id='trophy-number'>0</span></div>
              <div class="col-6 font-account-info yanone-font merits-columns"><span class="fas fa-certificate" style='padding-right:15px;'></span>Stickers Unlocked: <span id='sticker-number'>0</span></div>
          </div>
          <div class="row">

            <div class="col-6 font-account-info yanone-font merits-columns"><span class="fas fa-brain" style='padding-right:15px;'></span>Grammar Skills Score: {{ user.grammar_skills }}</div>
            <div class="col-6 font-account-info yanone-font merits-columns"><span class="fas fa-headphones-alt" style='padding-right:15px;'></span>Listening Skills Score: {{ user.listening_skills }}</div>
            <div class="col-6 font-account-info yanone-font merits-columns"><span class="fas fa-pencil-alt" style='padding-right:15px;'></span>Writing Skills Score: {{ user.writing_skills }}</div>
            <div class="col-6 font-account-info yanone-font merits-columns"><span class="fas fa-language" style='padding-right:15px;'></span>Vocabulary Skills Score: {{ user.vocabulary_skills }}</div>
            <div class="col-6 font-account-info yanone-font merits-columns"><span class="far fa-comments" style='padding-right:15px;'></span> Oral Skills Score: {{ user.oral_skills }}</div>
            <div class="col-6 font-account-info yanone-font merits-columns"><span class="fas fa-book" style='padding-right:15px;'></span>Reading Skills Score: {{ user.reading_skills }}</div>
          </div>
        </div>
        <a class="btn btn-primary account-btn yanone-font"  style="display: flex; justify-content: center; margin-top: 30px;" href="{% url 'homepage' %}"><span class="fas fa-address-card brand-rotate padding-dropdown-navbar"></span>Back to Index</a>
      </div>
      <div id="other" class="tab-pane fade ">
        <div class="account-title russo-one-font"><h1><span class='fas fa-info-circle'></span>Other Stats</h1></div>
        <div class="container">
          <div class="row">
            <div class="col-12 font-account-info yanone-font merits-columns">Short Stories Read: {{ user.stories_read }}</div>
            <div class="col-12 font-account-info yanone-font merits-columns">Books Finished: {{ user.books_finished }}</div>
            <div class="col-12 font-account-info yanone-font merits-columns">Words Learned: {{ user.words_learned }}</div>
            <div class="col-12 font-account-info yanone-font merits-columns">Irregular Verbs Known: {{ user.irregular_verbs }}</div>
            <div class="col-12 font-account-info yanone-font merits-columns">Talking Time: {{ user.talking_time }}</div>
            <div class="col-12 font-account-info yanone-font merits-columns">Maximum amount of hours without using Spanish: {{ user.no_spanish_time }}</div>
            <div class="col-12 font-account-info yanone-font merits-columns">Writing Assignments Passed: {{ user.writing_assignments }}</div>
            <div class="col-12 font-account-info yanone-font merits-columns">Songs Used: {{ user.songs_listened }}</div>
            <div class="col-12 font-account-info yanone-font merits-columns">Awards Unlocked: 0</div>
            <div class="col-12 font-account-info yanone-font merits-columns">Events Finished: 0</div>
            {% if user.songs_sang > 0 %}
              <div class="col-12 font-account-info yanone-font merits-columns">Songs Sang: {{ user.songs_sang }}</div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Secret Stat]</div>
            {% endif %}
            <div class="dropdown-divider"></div>
            {% if user.game_of_life_won > 0 %}
              <div class="col-12 font-account-info yanone-font merits-columns">The Game of Life Wins: {{ user.game_of_life_won }}</div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.scrabble_points > 0 %}
              <div class="col-12 font-account-info yanone-font merits-columns">Max Scrabble Points: {{ user.scrabble_points }}</div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.heave_ho_worlds > 0 %}
              <div class="col-12 font-account-info yanone-font merits-columns">Heave Ho! Worlds cleared: {{ user.heave_ho_worlds }}</div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.monopoly_won > 0 %}
              <div class="col-12 font-account-info yanone-font merits-columns">Monopoly Games Won: {{ user.monopoly_won }}</div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.max_dart_points > 0 %}
              <div class="col-12 font-account-info yanone-font merits-columns">Max Dart Points: {{ user.max_dart_points }}</div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.human_fall_flat_worlds > 0 %}
              <div class="col-12 font-account-info yanone-font merits-columns">Human Fall Flat Worlds Cleared: {{ user.human_fall_flat_worlds }}</div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.jenga_won > 0 %}
              <div class="col-12 font-account-info yanone-font merits-columns">Jenga Matches Won: {{ user.jenga_won }}</div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.stick_fight_won > 0 %}
              <div class="col-12 font-account-info yanone-font merits-columns">Stick Fight Games Won: {{ user.stick_fight_won }}</div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.operation_won > 0 %}
              <div class="col-12 font-account-info yanone-font merits-columns">Operation Games Won: {{ user.operation_won }}</div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.pikuniku_levels > 0 %}
              <div class="col-12 font-account-info yanone-font merits-columns">Pikuniku Levels Cleared: {{ user.pikuniku_levels }}</div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.battleship_won > 0 %}
              <div class="col-12 font-account-info yanone-font merits-columns">Battleship Matches Won: {{ user.battleship_won }}</div></div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.lovers_levels > 0 %}
              <div class="col-12 font-account-info yanone-font merits-columns">Lovers in a Dangerous Spacetime Levels Cleared: {{ user.lovers_levels }}</div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.defused_bomb == 'True' %}
              <div class="col-12 font-account-info yanone-font merits-columns">Bombs Defused in Keep Talking and Nobody Explodes? Yes </div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.chemistry_performed == 'True' %}
              <div class="col-12 font-account-info yanone-font merits-columns">Chemistry Experiment Performed? Yes </div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
            {% if user.writing_assignments == 'True' %}
              <div class="col-12 font-account-info yanone-font merits-columns">Baked a Recipe? Yes </div>
            {% else %}
              <div class="col-12 font-account-info yanone-font merits-columns">[Not Unlocked Yet]</div>
            {% endif %}
          </div>
        </div>
        <a class="btn btn-primary account-btn yanone-font"  style="display: flex; justify-content: center; margin-top: 30px;" href="{% url 'homepage' %}"><span class="fas fa-address-card brand-rotate padding-dropdown-navbar"></span>Back to Index</a>
      </div>
    </div>

  </div>
  <script type="text/javascript">
    var medals = ['{{ user.grammar_skills }}','{{ user.listening_skills }}','{{ user.writing_skills }}','{{ user.vocabulary_skills }}','{{ user.oral_skills }}','{{ user.reading_skills }}']
    var trophies = ['{{ user.songs_listened }}','{{ user.songs_sang }}','{{ user.stories_read }}','{{ user.books_finished }}','{{ user.words_learned }}','{{ user.irregular_verbs }}','{{ user.talking_time }}','{{ user.no_spanish_time }}', '{{ user.writing_assignments }}','{{ user.perfect_writing }}','{{ user.book_written }}']
    var stickers = ['{{ user.monkey_island }}','{{ user.the_last_door }}','{{ user.to_the_moon }}','{{ user.oxenfree }}','{{ user.valiant_hearts }}','{{ user.walter_mitty}}','{{ user.big_fish }}','{{ user.warm_bodies }}','{{ user.the_help }}','{{ user.reign_over_me }}','{{ user.talked_to_native }}','{{ user.cinema_day }}','{{ user.escape_room }}','{{ user.every_event }}']
    var phonemesLearned = {{ user.phonemes_learned }}
  </script>
  <script src='{% static 'js/merits.js' %}'type="text/javascript"></script>

</div>
{% endblock %}

<!--
game_of_life_won = models.IntegerField(default=0)
  scrabble_points = models.IntegerField(default=0)
  heave_ho_worlds = models.IntegerField(default=0)
  monopoly_won = models.IntegerField(default=0)
  max_dart_points = models.IntegerField(default=0)
  human_fall_flat_worlds = models.IntegerField(default=0)
  jenga_won = models.IntegerField(default=0 )
  stick_fight_won = models.IntegerField(default=0)
  operation_won = models.IntegerField(default=0)
  pikuniku_levels = models.IntegerField(default=0)
  battleship_won = models.IntegerField(default=0 )
  lovers_levels = models.IntegerField(default=0 )
  defused_bomb = models.BooleanField(default=False)
  chemistry_performed = models.BooleanField(default=False)
  baked = models.BooleanField(default=False)
 -->
