{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container" style='margin-top: 40px;'>
  <div class="jumbotron jumbotron-fluid account-change-background">
    <h1 class="title-merits archivo-black-font"><span class="fas fa-sign-in-alt padding-dropdown-navbar"></span>Welcome!</h1>
    <h2 class='font-form-two'>Log In to your account</h2>
    <div class="container yanone-font" style='font-size:1.5em; padding-bottom:10px;'>
      <form method="post" style='background-color: #3636A0;color: #E69A8DFF; margin: 10px 0px 20px 0px;padding:20px 0px 20px 20px;text-align:center;'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class='btn btn-primary custom-btn btn-lg odibee'>Log In</button>
        <a class="btn btn-primary custom-btn btn-lg odibee" href="{% url 'homepage' %}">Go Back</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}
