{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" style='margin-top: 40px;'>
  <div class="jumbotron jumbotron-fluid" style="margin-top: 0px; padding:0px; border: 2px solid #b3b3ff; background-color: #5b4e9d">
    <h1 class="title-merits archivo-black-font">New Message</h1>
    <form class="post-form" method="POST">
      <div class="container russo-one-font" style='margin: 15px 0px 10px 0px;color:white;background-color: #7d6fc6; padding: 10px 0px 10px 0px;'>
        {% csrf_token %}
        {{ form_user }}
        <br>
        {{ form_message }}
      </div>
      <div class="text-center" style='margin-bottom: 10px;'>
        <button type="submit" class="btn btn-primary btn-lg custom-btn russo-one-font">New Message</button>
        <a class="btn btn-primary btn-lg custom-btn russo-one-font" href="{% url 'accounts:messages_list' %}" role='button'>Back to List of Users</a>
      </div>
    </form>
  </div>

</div>
<script>var editor = new MediumEditor('.editable');</script>
{% endblock %}
