{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="jumbotron jumbotron-fluid" style="margin-top: 40px; border: 2px solid #b3b3ff; background-color: #5b4e9d">
    <div class="container">
      <h1 class='contentfont'>Newsfeed</h1>
    </div>
    {% if user.is_superuser %}
        <a type="button" class="btn btn-primary custom-btn btn-lg btn-block" href="{% url 'news:create_news' %}" role='button'>New Post</a>
        <a type="button" class="btn btn-primary custom-btn btn-lg btn-block" href="{% url 'news:draft_news' %}" role='button'>View Drafts</a>
    {% endif %}
    <div class="dropdown-divider"></div>
    {% for news in news_list %}
      <div class="container">
            <h1 class='firstfont dropdown-color'><a href="{% url 'news:detail_news' pk=news.pk %}" style='color: inherit;'>{{ news.title }}</a></h1>
            <div class="date">
                <p class='badges-paragraph'>Published on: {{ news.published_date|date:"D M Y"}}</p>
            </div>
            <a class='badges-paragraph' href="{% url 'news:detail_news' pk=news.pk %}" style='color: inherit;'>Comments: {{news.approve_comments.count}}</a>

      </div>
      <div class="dropdown-divider"></div>
    {% endfor %}

  </div>

</div>



{% endblock %}
