{% extends 'base.html' %}
{% block content %}
<div class="container" style='margin-top: 40px;'>
  <div class="jumbotron jumbotron-fluid" style="margin-top: 0px; padding:0px; border: 2px solid #b3b3ff; background-color: #5b4e9d">
    <h1 class="title-merits archivo-black-font">Delete News</h1>
    <div class="container firstfont dropdown-color" style='padding:20px;'>
      <form method="post">
        {% csrf_token %}
        <p class='badges-paragraph'>Are you sure?</p>
        <input type="submit" class='save btn btn-primary custom-btn btn-lg share-tech-font' value='Delete'>
      </form>
    </div>
  </div>
</div>

{% endblock %}
