{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="jumbotron jumbotron-fluid" style="margin-top: 40px; border: 2px solid #b3b3ff; background-color: #5b4e9d">
    <div class="container">
      <h1 class="display-4 contentfont share-tech-font">Games Section</h1>
      <div class="dropdown-divider"></div>
      <div class="container" style="display: flex; justify-content: center;">
          <img class="col-" style="border:10px solid #45284d; padding: 0px;" src="{% static "images/built.jpg" %}"></i>
      </div>
      <div class="dropdown-divider"></div>
      <p class="lead" style="color:#dfcde5; font-size: 2em; display: flex; justify-content: center;">This site is currently under development! Come back later!</p>
    </div>
  </div>
</div>
{% endblock %}
