{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% video item.video 'small' %}

{% block content %}
<div class="container" style='margin-top: 40px;'>
  <div class="jumbotron jumbotron-fluid" style="margin-top: 0px; padding:0px; border: 2px solid #b3b3ff;">
    <ul class="nav nav-pills tabs-merit-background" style="margin-top: 0px; color:inherit;">
      <li class='nav-item tabs-merits-font russo-one-font col-md' style='border-right: 1px solid black;'><a class='nav-link media-tab-1 active' data-toggle="pill" style='color:#e7e6e6;' href="#media-home">Home</a></li>
      <li class='nav-item tabs-merits-font russo-one-font col-md' style='border-right: 1px solid black;'><a class='nav-link media-tab-2' data-toggle="pill" style='color:#e7e6e6;' href="#media-pictures">Pictures</a></li>
      <li class='nav-item tabs-merits-font russo-one-font col-md'><a class='nav-link media-tab-3' data-toggle="pill" style='color:#e7e6e6;' href="#media-videos">Videos</a></li>
      <li class='nav-item tabs-merits-font russo-one-font col-md' style='border-left: 1px solid black;'><a class='nav-link media-tab-4' data-toggle="pill" style='color:#e7e6e6;' href="#media-audio">Audio</a></li>
    </ul>
    <div class="tab-content">
      <div id="media-home" class="tab-pane active" style='background-color: #015B5F;'>
        <div class="jumbotron jumbotron-fluid" style="margin-top: 0px;margin-bottom: 20px !important; border: 1px solid #45284d; background-color:#8a42c3;">
          <h5 class="amatic-sc-font media-home-title" style='font-size:4.5em; border-bottom: 1px solid white;'><span class="fas fa-photo-video" style='padding-right:30px;'></span>Media Section</h5>

          <div class="container" style='background-color: #8a42c3;'>
            <div class="container" style="display: flex; justify-content: center;">
                <img class="col-" style="" src="{% static 'images/built.png' %}"></img>
            </div>
            <div class="dropdown-divider"></div>
            <p class="lead" style="color:#dfcde5; font-size: 2em; display: flex; justify-content: center;">Pictures, videos, and audio will be uploaded to this section. Click the Tabs!</p>
          </div>
          <div class="text-center">
              <a type="button" class="btn btn-primary custom-btn russo-one-font" style='margin-bottom: 10px;' href="{% url 'homepage' %}"><span class='fas fa-home' style='margin-right:10px;'></span>Back to Index</a>
          </div>
        </div>
      </div>
      <div id="media-pictures" class="tab-pane">
        <div class="jumbotron jumbotron-fluid" style="margin-top: 0px;margin-bottom: 20px !important; border: 1px solid #45284d; background-color:#b90505;">
          <h5 class="amatic-sc-font media-pictures-title" style='font-size:4.5em; border-bottom: 1px solid white;'><span class="fas fa-image" style='padding-right:30px;'></span>Pictures</h5>
          <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <ol class="carousel-indicators">
                {% for pic in images %}
                  {% if forloop.first %}
                    <li data-target="#carouselExampleIndicators" class='active' data-slide-to="0"></li>
                  {% else %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
                  {% endif %}
                {% endfor %}
              </ol>
              {% for pic in images %}
                {% if forloop.first %}
                  <div class="carousel-item active">
                    <a class="btn odibee med-btn" href="{% url 'resources:detail_image' pk=pic.pk %}"><span class="fas fa-camera" style='padding-right:15px;'></span>{{pic.title}}</a>
                    <img src="{{ pic.image_file.url }}" class="mx-auto img-fluid d-block w-100 jumbo-style" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                     <p>{{ pic.description|safe|linebreaksbr }}</p>
                     <p>{{ pic.uploaded_at }}</p>
                    </div>
                  </div>
                {% else %}
                  <div class="carousel-item">
                    <a class="btn odibee med-btn" href="{% url 'resources:detail_image' pk=pic.pk %}"><span class="fas fa-camera" style='padding-right:15px;'></span>{{pic.title}}</a>
                    <img src="{{ pic.image_file.url }}" class="mx-auto img-fluid d-block w-100 jumbo-style" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                     <p>{{ pic.description|safe|linebreaksbr }}</p>
                     <p>{{ pic.uploaded_at }}</p>
                    </div>
                  </div>
                {% endif %}

              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          {% if user.is_superuser %}
            <a class="btn btn-primary med-btn btn-lg squada-font" href="{% url 'resources:upload_image' %}">Upload Image<span class="fa fa-remove" style='padding-left:10px;'></span></a>
          {% endif %}
        </div>
      </div>
      <div id="media-videos" style='background-color: #015B5F;' class="tab-pane fade in">
        <h5 class="amatic-sc-font media-video-title" style='font-size:4.5em; border-bottom: 1px solid white;'><span class="fas fa-film" style='padding-right:30px;'></span>Video Gallery</h5>
        <div class="row container" style='margin: 40px 0px 40px 0px !important;'>
          {% for v in videos %}
            {% video v.video_file as my %}
              <div class="col-4 media-video-background">
                <a class="btn russo-one-font med-btn-videos" style='margin-top:10px;' href="{% url 'resources:detail_video' pk=v.pk %}"><span class="fab fa-youtube" style='margin-top:5px;padding-right:15px;'></span>{{ v.title }}</a>
                <img style='border:1px solid white;margin-top:10px;' width='320' height='200' src='{{my.thumbnail}}'></img>
                <h3>{{ v.description|safe|linebreaksbr }}</h3>
                <p> Uploaded By: {{ v.user }}</p><p>Post Date: {{ v.uploaded_at }}</p>
                <div class="text-center">
                  <a class="btn btn-primary med-sm-btn-video btn-lg" href="{% url 'resources:delete_video' pk=v.pk %}"><span class="fa fa-video-slash" style='padding-right:10px;'></span>Remove Video</a>
                </div>
              </div>
            {% endvideo %}
          {% endfor %}

        </div>
        <div class="text-center">
          <a class="btn btn-primary med-sm-btn-audio btn-lg" style='margin-bottom:10px;' href="{% url 'resources:upload_video' %}"><span class="fa fa-video" style='padding-right:10px;'></span>Post Video</a>
        </div>
      </div>
      <div id="media-audio" class="tab-pane fade in media-audio-background">
        <h5 class="amatic-sc-font media-audio-title" style='font-size:4.5em; border-bottom: 1px solid white;'><span class="fas fa-headphones" style='padding-right:30px;'></span>Audio Gallery</h5>
        <div class="row container" style='margin: 40px 0px 40px 0px !important;' >
          {% for a in audio %}
            <div class="col-4 audio-track-background" style='margin-bottom: 1px;'>
              <a class="btn russo-one-font med-btn-audio" href="{% url 'resources:detail_audio' pk=a.pk %}"><span class="fas fa-file-audio" style='padding-right:15px;'></span>{{a.title}}</a>
              <p class='russo-one-font' style='margin-top:3px;text-align:center;'>Audio Description</p>
              <p class='russo-one-font' style='margin-top:3px;'>{{ a.description|safe|linebreaksbr }}</p>
              <div class="dropdown-divider"></div>
              <p class='russo-one-font'>{{ a.uploaded_at }}</p>
              <a class="btn med-sm-btn-audio russo-one-font" style='border: 1px solid #525130 !important; padding-right: 20px !important;' href="{% url 'resources:delete_audio' pk=a.pk %}"><span class="fa fa-remove" style='margin-right: 10px;'></span>Remove</a>
            </div>
          {% endfor %}
        </div>
        <div class="text-center">
          <a class="btn btn-primary custom-btn btn-lg" style='margin-bottom: 10px;' href="{% url 'resources:upload_audio' %}">Upload Audio<span class="fa fa-remove" style='padding-left:10px;'></span></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
