{% extends 'base.html' %}
{% block content %}
{% load embed_video_tags %}


<div class="container">
  <div class="jumbotron jumbotron-fluid" style="margin-top: 40px; border: 10px solid #45284d; background-color:#643a71 !important;">
    <h1 class='contentfont firstfont dropdown-color' style='margin:10px;border:10px solid #45284d;padding:20px;'>{{ object.title }} <span class='fas fa-newspaper' style='padding-left:10px;'></span></h1>
    <img src="{{ object.image_file.url }}" class="d-block  jumbo-style" alt="...">
    <div class="dropdown-color firstfont" style='margin:10px;border:10px solid #45284d;padding:20px;'>
        <p class='badges-paragraph ' >{{ object.description|safe|linebreaksbr }}</p>
    </div>
  </div>
</div>

{% endblock %}
