{% extends 'base.html' %}
{% block content %}

<div class="container" style='margin-top:40px;'>
  <div class="jumbotron jumbotron-fluid">
    <h1 class="title-merits archivo-black-font"><span class="fas fa-images" style='padding-right:30px;'></span>Upload Image</h1>
    <div class="container image-create-form" style='padding:20px;'>
      <form class="post odibee" enctype="multipart/form-data" method="POST" style='font-size:1.5em;'>
        <div class="container">
          {% csrf_token %}
          {{form.as_p}}
        </div>
        <button type="submit" class='save btn btn-primary custom-btn btn-lg'>Upload Image File</button>
      </form>
    </div>
  </div>
</div>
<script>var editor = new MediumEditor('.editable');</script>
{% endblock %}
