{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="jumbotron jumbotron-fluid" style="margin-top: 40px; border: 10px solid #45284d; background-color:#643a71;">
      <h1 class='contentfont'>Delete Embedded Video</h1>
    <div class="container firstfont dropdown-color" style='padding:20px;'>
      <form method="post">
        {% csrf_token %}
        <p class='badges-paragraph'>Are you sure?</p>
        <input type="submit" class='btn btn-primary btn-block custom-btn' value='Confirm'>
      </form>
    </div>
  </div>
</div>

{% endblock %}
