{% extends 'base.html' %}
{% block content %}
{% load embed_video_tags %}

{% video object.video_file as video_file %}
<div class="container">
  <div class="jumbotron jumbotron-fluid" style="margin-top: 40px; border: 10px solid #45284d; background-color:#643a71 !important;">
    <h1 class='contentfont firstfont dropdown-color' style='margin:10px;border:10px solid #45284d;padding:20px;'>{{ object.title }} <span class='fas fa-newspaper' style='padding-left:10px;'></span></h1>
    <iframe class='jumbo-style' style='margin-left: auto;margin-right: auto; display:block; margin-bottom: 20px;' width="{{ 720 }}" height="{{ 480 }}" src="{{ video_file.url }}"
      frameborder="0" allowfullscreen></iframe>
    <div class="dropdown-color firstfont" style='margin:10px;border:10px solid #45284d;padding:20px;'>
        <p class='badges-paragraph ' >{{ object.description|safe|linebreaksbr }}</p>
    </div>
  </div>
</div>
{% endvideo %}
{% endblock %}

<!-- <iframe class='jumbo-style' style='border: 1px solid white;margin-left: auto;margin-right: auto; display:block; margin-bottom: 20px;' width="{{ 720 }}" height="{{ 480 }}" src="{{ my.url }}"
  frameborder="0" allowfullscreen></iframe>
<div class="container" style='background-color: white; border: 2px solid black; margin-bottom: 20px;'> -->
