{% extends 'base.html' %}
{% block content %}
<div class="container" style='margin-top:40px;'>
  <div class="jumbotron jumbotron-fluid">
    <h1 class="title-merits archivo-black-font"><span class="fas fa-headphones" style='padding-right:30px;'></span>Remove Video</h1>
    <div class="container image-create-form" style='padding:20px;'>
      <form method="post">
        {% csrf_token %}
        <p class='russo-one-font'>Are you sure?</p>
        <input type="submit" class='btn btn-primary custom-btn' value='Confirm'>
        <a class="btn btn-primary custom-btn" href="{% url 'resources:media' %}">Cancel</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}
