{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <meta charset="utf-8">
    <title>Welcome to SuperC!</title>
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4dc7e526f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Odibee+Sans|Amatic+SC|Archivo+Black|Russo+One|Share+Tech|Squada+One|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  </head>
  <body>
    {% if user.is_authenticated %}
      <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top navbar-default squada-font">
        <a class="navbar-brand col-xs" href="/" style='border-radius: 30%;border: 2px solid white !important;'>
          <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/girl-1615938-1372037.png"  width="60" height="60" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-center sandwich" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-fill w-75 align-items-start">
            <li id='nav-link-1' class="nav-item nav-shape dropdown">
              <a class="nav-link dropdown-toggle nav-width" style='color:#E69A8DFF;margin-left:5px;' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style='color:#E69A8DFF;margin-right:10px;' class="fas fa-user brand-rotate"></span>
                  My Account</a>
              <div class="dropdown-menu animate slideIn navbar-dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item navbar-dropdown" href="{% url 'accounts:account_info' %}"><span style='margin: 0px 10px 0px 10px;' class="fas fa-address-card brand-rotate"></span>Account Info</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item navbar-dropdown" href="{% url 'accounts:messages_list' %}"><span style='margin: 0px 10px 0px 10px;' class="fas fa-comments brand-rotate"></span>Messages</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item navbar-dropdown" href="{% url 'accounts:logout' %}"><span style='margin: 0px 10px 0px 10px;' class="fas fa-sign-out-alt brand-rotate" ></span>Log Out</a>
              </div>
            </li>
            <li id='nav-link-2' class="nav-item nav-shape">
              <a class="nav-link nav-width" style='color:#E69A8DFF;margin-left:5px;' href="{% url 'news:news_list' %}" ><span style='margin-right:10px;' class="fas fa-newspaper brand-rotate"></span>Blog & News</a>
            </li>
            <li id='nav-link-3'  class="nav-item nav-shape">
              <a class="nav-link nav-width" style='color:#E69A8DFF;margin-left:5px;' href="{% url 'badges:badges' %}"><span style='margin-right:10px;' class="fas fa-award brand-rotate"></span>Merits</a>
            </li>
            <li id='nav-link-4' class="nav-item nav-shape">
              <a class="nav-link nav-width" style='color:#E69A8DFF;margin-left:5px;' href="{% url 'rewards:rewards' %}"><span style='margin-right:10px;' class="fas fa-map-signs brand-rotate"></span>Roadmap</a>
            </li>
            <li id='nav-link-5 '  class="nav-item nav-shape dropdown">
              <a class="nav-link dropdown-toggle nav-width" style='color:#E69A8DFF;margin-left:5px;' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style='margin-right:10px !important;' id='box-change' class="fas fa-box brand-rotate padding-buttons-navbar"></span>
                Resources
              </a>
              <div id='menu-change' class="dropdown-menu animate slideIn navbar-dropdown-menu" aria-labelledby="navbarDropdown">
                <a  class="dropdown-item navbar-dropdown" href="{% url 'resources:glossary' %}"><span style='margin: 0px 10px 0px 10px;' class="fas fa-spell-check brand-rotate"></span>Glossary</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item navbar-dropdown" href="{% url 'resources:homework' %}"><span style='margin: 0px 10px 0px 10px;' class="fas fa-pencil-ruler brand-rotate"></span>Homework</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item navbar-dropdown" href="{% url 'resources:library'%}"><span style='margin: 0px 10px 0px 10px;' class="fa fas fa-book-reader brand-rotate"></span>Library</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item navbar-dropdown" href="{% url 'resources:games'%}"><span style='margin: 0px 10px 0px 10px;' class="fas fa-gamepad brand-rotate"></span>Games</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item navbar-dropdown" href="{% url 'resources:media'%}"><span style='margin: 0px 10px 0px 10px;' class="fas fa-photo-video brand-rotate"></span>Media</a>
              </div>
            </li>
            <li id='nav-link-6' class="nav-item nav-shape">
              <a class="nav-link nav-width" style='color:#E69A8DFF;margin-left:5px;' href="{% url 'special:special' %}"><span style='margin-right:10px;' class="fas fa-star brand-rotate"></span>Special Events</a>
            </li>
          </ul>
        </div>
      </nav>
    {% else %}
      <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top navbar-default squada-font">
        <a class="navbar-brand col-xs" href="/" style='border-radius: 30%;border: 2px solid white !important;'>
          <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/girl-1615938-1372037.png"  width="60" height="60" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-center sandwich" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-fill w-75 align-items-start">
            <li id='nav-link-1' class="nav-item nav-shape dropdown">
              <a class="nav-link dropdown-toggle nav-width" style='color:#E69A8DFF;margin-left:5px;' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style='color:#E69A8DFF;margin-right:10px;' class="fas fa-user brand-rotate"></span>
                My Account
              </a>
              <div class="dropdown-menu animate slideIn navbar-dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item navbar-dropdown" href="{% url 'accounts:login' %}">
                  <span style='margin: 0px 10px 0px 10px;' class="fas fa-sign-in-alt brand-rotate">
                  </span>Log In
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item navbar-dropdown" href="{% url 'accounts:signup' %}">
                  <span style='margin: 0px 10px 0px 10px;' class="fas fa-user-plus brand-rotate">
                  </span>Sign Up
                </a>
              </div>
            </li>
            <li class="nav-item nav-shape">
              <a class="nav-link nav-width disabled" style='margin-left:5px;' href="{% url 'news:news_list' %}">
                <span style='margin-right:10px;' class="fas fa-newspaper brand-rotate">
                </span>Blog & News
              </a>
            </li>
            <li class="nav-item nav-shape">
              <a class="nav-link nav-width disabled" style='margin-left:5px;' href="{% url 'badges:badges' %}">
                <span style='margin-right:10px;' class="fas fa-award brand-rotate">
                </span>Merits
              </a>
            </li>
            <li class="nav-item nav-shape">
              <a class="nav-link nav-width disabled" style='margin-left:5px;' href="{% url 'rewards:rewards' %}">
                <span style='margin-right:10px;' class="fas fa-map-signs brand-rotate">
                </span>Roadmap
              </a>
            </li>
            <li class="nav-item nav-shape dropdown">
              <a class="nav-link dropdown-toggle nav-width disabled" style='margin-left:5px;' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span style='margin-right:10px !important;' id='box-change' class="fas fa-box brand-rotate padding-buttons-navbar">
                </span>Resources
              </a>
              <div id='menu-change' class="dropdown-menu dropdown-color-two dropdown-border animate slideIn" aria-labelledby="navbarDropdown" style="margin-left: 60px !important; margin-top: 30px !important; font-size: 0.9em !important;">
                <a class="dropdown-item dropdown-color" href="{% url 'resources:glossary' %}"><span class="fas fa-spell-check brand-rotate padding-dropdown-navbar"></span>Glossary</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropdown-color" href="{% url 'resources:homework' %}"><span class="fas fa-pencil-ruler brand-rotate padding-dropdown-navbar"></span>Homework</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropdown-color" href="{% url 'resources:library'%}"><span class="fas fa-book-reader brand-rotate padding-dropdown-navbar"></span>Library</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropdown-color" href="{% url 'resources:games'%}"><span class="fas fa-gamepad brand-rotate padding-dropdown-navbar"></span>Games</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropdown-color" href="{% url 'resources:media'%}"><span class="fas fa-photo-video brand-rotate padding-dropdown-navbar"></span>Media</a>
              </div>
            </li>
            <li class="nav-item nav-shape">
              <a class="nav-link nav-width disabled" style='margin-left:5px;' href="{% url 'special:special' %}"><span style='margin-right:10px;' class="fas fa-star brand-rotate"></span>Special Events</a>
            </li>
          </ul>
        </div>
      </nav>
    {% endif %}
    {% block content %}
    {% endblock %}
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark firstfont navbar-default" style='border-top: 2px solid #b3b3ff !important'>
    <script>
      $('#menu-change').hover(function(){
        $('#box-change').toggleClass('fa-box-open');
      })
      $('#nav-link-1').hover(function(){
        $('#nav-link-1').toggleClass('nav-buttons-change')
      })
      $('#nav-link-2').hover(function(){
        $('#nav-link-2').toggleClass('nav-buttons-change')
      })
      $('#nav-link-3').hover(function(){
        $('#nav-link-3').toggleClass('nav-buttons-change')
      })
      $('#nav-link-4').hover(function(){
        $('#nav-link-4').toggleClass('nav-buttons-change')
      })
      $('#nav-link-5').hover(function(){
        $('#nav-link-5').toggleClass('nav-buttons-change')
      })
      $('#nav-link-6').hover(function(){
        $('#nav-link-6').toggleClass('nav-buttons-change')
      })
      /* .toggleClass(nav-buttons-change)  */
    </script>
    <script src="{% static 'js/master.js' %}"></script>
    <script src="https://unpkg.com/@popperjs/core@2.0.0-rc.3"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
