{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style='margin-top: 40px;'>
  <div class="jumbotron jumbotron-fluid" style="margin-top: 0px; padding:0px; border: 1px solid #b3b3ff; background-color: #5b4e9d">
  {% if user.is_authenticated %}
    <h1 class='title-merits archivo-black-font' style='border: 1px solid #b3b3ff;'>Welcome, {{ user.username }} !</h1>
  {% else %}
    <h1 class='title-merits archivo-black-font' style='border: 1px solid #b3b3ff;'>Welcome to SuperC!</h1>
  {% endif %}

    <div class="container" style='margin: 15px 0px 15px 0px;'>
      <div class="container" style="display: flex; justify-content: center;">
          <img class="col-" style="border: 1px solid #b3b3ff; margin: 10px 0px 10px 0px;" src="{% static 'images/built.png' %}"></img>
      </div>
    </div>
    <div class="container" style='margin: 20px 0px 20px 0px;'>
      {% if user.is_authenticated %}
        <p class="odibee" style="color:#dfcde5; font-size: 2em; text-align:center; background-color:#7d6fc6;">You are logged in! Use the Navigation Bar to check the different sections.</p>
      {% else %}
        <p class="odibee" style="color:#dfcde5; font-size: 2em; display: flex; justify-content: center; background-color:#7d6fc6;">You should Log In or Register a new account!</p>
        <div class="text-center">
          <a class="btn btn-primary custom-btn russo-one-font" style='margin-bottom: 10px;' href="{% url 'accounts:signup' %}" role='button'><span class='fas fa-user-plus' style='margin-right:10px;'></span>Register</a>
          <a class="btn btn-primary custom-btn russo-one-font" style='margin-bottom: 10px;' href="{% url 'accounts:login' %}" role='button'><span class='fas fa-sign-in-alt' style='margin-right:10px;'></span>Log In</a>
        </div>
      {% endif %}
    </div>


  </div>
</div>
{% endblock %}
