{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="jumbotron jumbotron-fluid" style="margin-top: 40px; border: 2px solid #b3b3ff; background-color: #5b4e9d">
    <div class="container">
      <h1 class="display-4 contentfont share-tech-font">You are now logged in!</h1>
      <div class="dropdown-divider" style='background-color: #b3b3ff !important;'></div>
      <div class="container" style="display: flex; justify-content: center;">
          <img class="col-" style="border:3px solid #440378; padding: 0px;" src="{% static 'images/loggedin.jpg' %}"></img>
      </div>
      <div class="dropdown-divider"></div>
    </div>
    <div class="form-row text-center">
      <div class="col-12">
        <a class="btn btn-primary btn-lg custom-btn centerstage share-tech-font" href="{% url 'homepage' %}" role='button'>Back to Homepage</a>
      </div>
    </div>

  </div>
</div>

{% endblock %}
