{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container" style='margin-top: 40px;'>
  <div class="jumbotron jumbotron-fluid" style="margin-top: 0px; padding:0px; border: 2px solid #b3b3ff; background-color: #5b4e9d">
    <h1 class="title-merits archivo-black-font">You are now logged in!</h1>
    <div class="container" style='margin-top: 15px;'>
      <div class="container" style="display: flex; justify-content: center;">
          <img class="col-" style="border:1px solid #440378; padding: 0px;" src="{% static 'images/built.png' %}"></img>
      </div>
    </div>
    <div class="container" style='margin: 15px 0px 15px 0px;'>
      <p class="odibee" style="color:#dfcde5; font-size: 2em; display: flex; justify-content: center; background-color:#7d6fc6;">You are logged in! Use the Navigation Bar to check the different sections.</p>
    </div>
  </div>
</div>

{% endblock %}
