{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" style='margin-top: 40px;'>
  <div class="jumbotron jumbotron-fluid" style="margin-top: 0px; padding:0px; border: 1px solid #b3b3ff; background-color: #5b4e9d">
    <h1 class='title-merits archivo-black-font' style='border: 1px solid #b3b3ff;'>Come back soon!</h1>
    <div class="container" style='margin-top: 15px;'>
      <div class="container" style="display: flex; justify-content: center;">
          <img class="col-" style="border: 1px solid #45284d; padding: 0px;" src="{% static 'images/built.png' %}"></img>
      </div>
    </div>
    <div class="container" style='margin: 15px 0px 15px 0px;'>
      <p class="odibee" style="color:#dfcde5; font-size: 2em; display: flex; justify-content: center; background-color:#7d6fc6;">You have succesfully logged out.</p>
    </div>
    <div class="form-row text-center">
      <div class="col-12">
        <a type="button" class="btn btn-primary custom-btn russo-one-font" style='margin: 0px 0px 10px 0px;' href="{% url 'homepage' %}"><span class='fas fa-home' style='margin-right:10px;'></span>Back to Index</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
